.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  border-bottom: 1px solid lightgreen;
}

#male {
  font-size: 90px;
  position: absolute;
  right: 43%;
  bottom: 44%;
  opacity: 0.3;
}
#female {
  font-size: 90px;
  position: absolute;
  right: 72%;
  bottom: 20%;
  opacity: 0.3

}

#gender {
  position: absolute;
  top: 10%;
  left: 40%;
}
