body {
  background-color: #2d3044;
}
.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-div {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 63px;
  margin-top: -10px;
  color: white;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 100px;
  margin-right: 70px;
  margin-top: -30px;
  animation-name: switcher;
  animation-duration: 4s;
}

@keyframes switcher {
  color: yellow;
}

.toolTip {
  position: absolute;
  padding: 0px 10px;
  background-color: black;
  color: white;
}

.img-logo {
  width: 33%;
}

.ticks line{
  stroke: red;
}

.ticks path{
  stroke: red;
}

.ticks text{
  fill: red;
}
