.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.title {

}

.toolTip {
  position: absolute;
  padding: 0px 10px;
  background-color: black;
  color: white;
}

.img-logo {
  width: 33%;
}
