body {
  background-color: #2d3044;
}
.main-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.header-div {
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: -80px;
}

.title {
  font-family: 'Dancing Script', cursive;
  font-size: 63px;
  margin-top: -10px;
  color: white;
}

.subtitle {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 100px;
  margin-right: 70px;
  margin-top: -30px;
  animation-name: switcher;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes switcher {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:#66ffff;}
  75%  {color:#73ff63;}
  100% {color:red;}
}

.toolTip {
  position: absolute;
  opacity: 0.9;
  padding: 20px 30px;
  color: white;
  font-size: 30px;
  letter-spacing: 1px;
  word-spacing: 15px;
  font-family: 'Monoton', cursive;
}

.gender-question {
  color: yellow;
  font-size: 50px;
  font-family: 'Bigelow Rules', cursive;
  letter-spacing: 10px;
  margin-top: -10px;
  margin-left: 30px;
  border-top: 1px solid yellow;
}

.img-logo {
  width: 33%;
}

.ticks line{
  stroke: red;
}

.ticks path{
  stroke: red;
}

.ticks text{
  fill: red;
}

.pieToolTip {
  position: absolute;
  padding: 20px 30px;
  color: white;
  font-size: 50px;
  font-family: 'Londrina Outline', cursive;
  font-weight: 900;
}

.maleToolTip {
  position: absolute;
  padding: 20px 30px;
  color: white;
  font-size: 50px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 900;
}

#pie {
  position: relative
}

#female1 {
  position: absolute;
  right: 42%;
  top: -25%;
  font-size: 100px;
  background: linear-gradient(330deg, #99e052 25%, #52e0e0 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-name: woman;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;

}
/*
@keyframes woman {
  0% {transform: scale(1.5);}
  100% {transform: scale(0.3);}
}*/


#male-pie {
  position: relative
}

#male1 {
  position: absolute;
  right: 39%;
  top: 24%;
  font-size: 194px;
  background: linear-gradient(330deg, #ff3dee 25%, #a93aff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rotate 12s infinite linear;
}

/*@-webkit-keyframes rotate {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
  }*/

  .repo-question {
    color: yellow;
    font-size: 50px;
    font-family: 'Bigelow Rules', cursive;
    letter-spacing: 10px;
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: -22px;
  }

  #bubbles {

  }

  .repo-text-div {
  }
  .github-text-g {
    transform: rotate(45deg);
    color: white;
    font-size: 100px;
    animation: glow 3.5s ease-in-out infinite alternate;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    bottom: -18%;
    left: 65%;
    z-index: -1;
  }
  .github-text-r {
    transform: rotate(45deg);
    color: white;
    font-size: 100px;
    animation: glow 3.5s ease-in-out infinite alternate;
    font-family: 'Press Start 2P', cursive;
    position: absolute;
    bottom: -155%;
    z-index: -1;
  }

  @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 40px #11ff78, 0 0 70px #11ff78, 0 0 150px #11ff78;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 35px #11ff78, 0 0 75px #11ff78;
  }
}


.bubbleToolTip {
  position: absolute;
  padding: 20px 30px;
  color: green;
  background-color: white;
  font-size: 50px;
}
